body {
    background: rgb(77, 8, 8);
    color: whitesmoke; 
    margin: 0;
} 

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px whitesmoke;
    margin-left: 80;
    margin-right: 80;
    
}

section {
    display: flex;
    background-color: rgb(23, 24, 46);
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
    font-family: "Abril Fatface", serif;
}

.chamada-texto{
margin-right: 5%;

}
img{
    width: 150px;
    height: 200px;
}
